# General #
*.pgm


# LBPHTrainer igonre #
OpenCvProjects/FaceRecognition/LBPHTrainer/Makefile

OpenCvProjects/FaceRecognition/LBPHTrainer/LBPHFaceRecognizer_Trainer

OpenCvProjects/FaceRecognition/LBPHTrainer/data/faces.txt

OpenCvProjects/FaceRocognition/LBPHTrainer/CMakeCache.txt

OpenCvProjects/FaceRocognition/LBPHTrainer/CMakeFiles/

OpenCvProjects/FaceRocognition/LBPHTrainer/cmake_install.cmake
