# General #
*.pgm
.idea/

OpenCvProjects/FaceRecognition/depricated/

# FaceRecognizer ignore #
OpenCvProjects/FaceRecognition/FaceRecognizer/data/trainingdata/faces/
OpenCvProjects/FaceRecognition/FaceRecognizer/data/testdata/grad.png

#FaceDetect ignore #
OpenCvProjects/FaceRecognition/FaceDetect/data/faces/ 
OpenCvProjects/FaceRecognition/FaceDetect/data/results/ 
